body {
  font-family: raleway;
}

form {
  margin-top: 35px;
}
h1 {
  font-weight: bold;
  margin-top: 30px;
  text-transform: capitalize;
}
h2 {
  font-size: 18px;
  margin-top: 10px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: black;
  text-decoration: none;
}
.inactive {
  color: gray;
  text-decoration: none;
}
.card-body {
  padding: 8px;
}
.card-title {
  margin-bottom: -5px;
  margin-top: -3px;
}

.currentbutton {
  background: black;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  transition: all 150ms ease-in-out;
}
.currentbutton:hover {
  background: white;
  color: black;
}
.dates {
  background-color: white;
}
.addweatherinfo {
  font-weight: bold;
}
.mainicon {
  font-size: 90px;
  margin-top: 20px;
}
.otherweatherinfo {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.searchbutton {
  background: black;
  border-radius: 7px;
  color: white;
  font-size: 15px;
  transition: all 150ms ease-in-out;
}
.searchbutton:hover {
  background: white;
  color: black;
}
.sourcecodelink {
  font-size: 12px;
  margin-top: 40px;
}
.weather-description {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.todayinfo {
  position: sticky;
  top: 35px;
}
.todaytemp {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.topcard {
  margin-top: 35px;
}
.units {
  font-size: 20px;
}
.weeklyforcast {
  font-size: 28px;
}
.weeklytemps {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
